@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.font-game {
    font-family: 'Bungee', cursive;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "tailwindcss";

.ant-float-btn-body {
  background-color: #00ae6e !important;
}

.collage-container {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collage-image {
  position: absolute;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  object-fit: cover;
  border: 4px solid white;
}

.collage-image:hover {
  transform: scale(1.05) rotate(0deg) !important;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.image-bottom {
  width: 80%;
  height: auto;
  z-index: 1;
  transform: rotate(2deg);
}

.image-top-left {
  width: 65%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(-8deg);
}

.image-top-right {
  width: 55%;
  height: auto;
  bottom: 10%;
  right: -5%;
  z-index: 2;
  transform: rotate(6deg);
}

.ant-menu-light .ant-menu-submenu-selected .ant-menu-submenu-title .ant-menu-submenu-selected .ant-menu-item-selected {
  color: #6d28d9 !important;
}
.ant-menu-submenu-popup .ant-menu-item-selected,
.ant-menu-submenu-popup .ant-menu-item:hover {
  color: #6d28d9 !important;
  background-color: rgba(109, 40, 217, 0.08) !important;
}

/* .ant-row {
  display: flex !important;
  justify-content: center !important;
} */

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .collage-container {
    height: 300px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .carousel {
    margin-bottom: 20rem;
  }
}
